DATABASE_URL=postgres://pg:pg@localhost:5432/db
SECRET=secret
FRONT_BASE_URL=http://localhost:3000
BACK_BASE_URL=http://localhost:3000
AUTH_INIT_URL=
AUTH_TOKEN_URL=
AUTH_USERINFO_URL=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
USE_SECURE_COOKIES=false
GCN_SECRET_ID=gcn_id
GCN_SECRET_KEY=gcn_secret

PUBLIC_API_BASE_URL=http://localhost:8000
