DATABASE_URL=postgres://pg:pg@localhost:5432/db
SECRET=secret
FRONT_BASE_URL=http://localhost:3000
BACK_BASE_URL=http://localhost:3000
AUTH_URL=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
USE_SECURE_COOKIES=false
GCN_SECRET_ID=
GCN_SECRET_KEY=
GCN_BASE_URL=https://bankaccountdata.gocardless.com/api/v2
# point to local mock
# GCN_BASE_URL=http://localhost:3000/mock-integrations/api/v2
GCN_ALLOW_SANDBOX=true

PUBLIC_API_BASE_URL=http://localhost:8000
