DATABASE_URL=postgres://pg:pg@localhost:5432/db
SECRET=secret
FRONT_BASE_URL=http://localhost:33000
BACK_BASE_URL=http://localhost:38000
AUTH_URL=
AUTH_CLIENT_ID=money
AUTH_CLIENT_SECRET=5hQVm6Gn4PWJwL6j9U7kUT5iSgATAWOT
AUTH_USER_ID_WHITELIST=
AUTH_USER_ID_WHITELIST_ENABLED=false
USE_SECURE_COOKIES=false
GCN_SECRET_ID=
GCN_SECRET_KEY=
GCN_BASE_URL=https://bankaccountdata.gocardless.com/api/v2
# point to local mock
# GCN_BASE_URL=http://localhost:3000/mock-integrations/api/v2
GCN_ALLOW_SANDBOX=true
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:34317/v1/traces
OTEL_EXPORTER_OTLP_TRACES_COMPRESSION=zstd
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:34317/v1/logs

PUBLIC_API_BASE_URL=http://localhost:8000
