.page {
  inline-size: 100%;
  max-inline-size: 35rem;
  margin-inline: auto;
  padding-block-start: var(--s5);

  --page-padding-inline: var(--s3);

  @media (min-width: 35rem) {
    --page-padding-inline: var(--s5);
  }

  padding-inline: var(--page-padding-inline);
}

.card {
  padding: var(--s5);
  background-color: var(--surface);
  border-radius: var(--r3);
  --field: var(--surface-raised);
  border: var(--border);
  margin-inline: calc(-1 * var(--page-padding-inline));
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.form {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

.buttonRow {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--s4);
}

.submit {
  width: 100%;
}

@media (min-width: 30rem) {
  .form {
    display: grid;
    grid-template-columns: auto minmax(0, 22rem);
    column-gap: var(--s6);
    row-gap: var(--s3);
    align-items: center;
  }

  .form > * {
    grid-column: 1 / -1;
  }
}
