.comboboxItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	scroll-margin: 0.5rem;
	padding: 0.5rem;
	outline: none !important;

	&[data-active-item="true"],
	&[data-active="true"],
	&:active {
		background-color: var(--gray-5);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-5);
		}
	}
}

.comboboxPopover,
.selectPopover {
	z-index: 50;
	cursor: default;
	border: var(--px) solid var(--gray-a6);
	background-color: var(--gray-1);
	padding: 0.25rem;
	/* TODO: shadow here when there are some available via variables */
}

.comboboxPopover {
	display: flex;
	flex-direction: column;
	overflow: auto;
	overscroll-behavior: contain;
	max-height: min(var(--popover-available-height, 19rem), 19rem);
	outline: none;
}

.selectInput {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
}

.selectPopover {
	display: block;
	width: unset;
	width: max(var(--trigger-width), max-content);
}

.selectItem {
	display: flex;
	align-items: center;
	scroll-margin: 0.5rem;
	padding: 0.5rem;
	outline: none !important;

	&[data-focused="true"] {
		background-color: var(--gray-a5);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-a5);
		}
	}

	span {
		padding-inline-start: 1.5rem;
	}

	position: relative;

	svg {
		position: absolute;
		left: 0.5rem;
	}
}

.selectChevron {
	display: inline-flex;
	align-items: center;
	margin-inline-start: 0.75rem;
	color: var(--gray-a11);
}

.amountAndCurrencyWrapper {
	display: flex;
	align-items: flex-end;
}

.amountWrapper {
	/* go on top of the currency input's border */
	margin-inline-end: calc(-1 * var(--px));
	width: 100%;
}

.dateTimeInput {
	display: inline-flex;
	align-items: center;
	line-height: 0.9rem;

	.segment {
		display: inline;
		padding: 0.25rem;
		outline: none;
		caret-color: transparent;

		&[data-type="literal"] {
			padding: 0;
		}

		/* pull the comma closer between time and date */
		&[data-type="year"] {
			margin-right: -0.25rem;
		}

		&[data-focused="true"] {
			background-color: var(--gray-a7);
			color: white;
		}
	}
}
