@import url("./reset.css");
@import url("./colors.css");
@import url("./vars.css");

@font-face {
  font-family: geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/geist.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 100%;
  line-height: 1.5;
}

main {
  height: 100%;
  margin-inline: auto;

  @media (min-width: 35rem) {
    padding-left: calc(100vw - 100%);
  }
}

a:focus-visible {
  outline: 1.5px solid var(--focus);
  outline-offset: 2px;
  border-radius: 2px;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.2;
  margin-block-end: var(--s5);
}

h2 {
  font-size: var(--text-lg);
}

body {
  display: block;
  font-size: var(--text-base);
  margin-block-end: 15rem;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: geist;
  overscroll-behavior-y: none;
}
