:root {
  --hpx: 0.03125rem;
  --px: 0.0625rem;
  --s1: 0.25rem;
  --s2: 0.5rem;
  --s3: 0.75rem;
  --s4: 1rem;
  --s5: 1.5rem;
  --s6: 2rem;
  --s7: 2.5rem;
  --s8: 3rem;
  --s9: 4rem;

  --r1: 0.5rem;
  --r2: 0.75rem;
  --r3: 1rem;
  --r-full: 999px;

  --check-size: 1.15rem;

  --text-xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.375rem;

  /* cards, section edges */
  --border: var(--hpx) solid var(--gray-a3);

  /* text inputs */
  --border-field: var(--px) solid var(--gray-5);

  /* checkbox, button outline */
  --border-strong: var(--px) solid var(--line-strong);

  --border-popover: var(--hpx) solid var(--gray-a4);

  /* list separators */
  --border-divider: var(--hpx) solid var(--gray-a3);

  --nav-height: 2.25rem;

  @media (display-mode: standalone) {
    --nav-height: 3.5rem;
  }
}
