nav {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 2.25rem;

  background-color: var(--gray-1);
  border-bottom: 1px solid var(--gray-3);

  div {
    display: flex;
    max-inline-size: 35rem;
    margin-inline: auto;
    height: 100%;
    padding-inline: var(--s3);

    .navLinks {
      list-style: none;
      display: flex;

      .link>a {
        font-size: var(--text-sm);
        padding-inline: var(--s3);
        height: 100%;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: unset;

        &:hover {
          background-color: var(--gray-2);
        }
      }
    }
  }
}
