nav {
  z-index: 2;
  background-color: var(--surface);
  height: var(--nav-height);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @media (min-width: 35rem) {
    padding-left: calc(100vw - 100%);
  }

  @media (min-width: 35rem) {
    position: sticky;
    top: 0;
  }

  div {
    display: flex;
    max-inline-size: 35rem;
    margin-inline: auto;
    height: 100%;
    padding-inline: var(--s3);

    .navLinks {
      list-style: none;
      display: flex;

      .link>a {
        font-size: var(--text-sm);
        padding-inline: var(--s3);
        height: 100%;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: unset;

        &:hover {
          background-color: var(--hover);
        }

        &:focus-visible {
          outline-offset: -1.5px;
          border-radius: 0;
        }
      }
    }
  }
}
